<div class="banners">
    <div class="container">
        <div class="wrapper">
            <div class="column">
                <div class="banner flexwrap">
                    <div class="row">
                        <div class="item">
                            <div class="image">
                                <img src="../assets/banner/banner1.jpg" />
                            </div>
                            <div class="text-content flexcol">
                                <h4>Դաժան վաճառք!</h4>
                                <h3><span>Ստացեք գործարքը այստեղ</span><br>Հյուրասենյակի աթոռ</h3>
                                <a href="#" class="primary-button">Գնիր հիմա</a>
                            </div>
                            <a href="#" class="over-link"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item get-gray">
                            <div class="image">
                                <img src="../assets/banner/banner2.jpg" />
                            </div>
                            <div class="text-content flexcol">
                                <h4>Դաժան վաճառք!</h4>
                                <h3><span>Զեղչ ամեն օր</span><br>Գրասենյակային հանդերձանք</h3>
                                <a href="#" class="primary-button">Գնիր հիմա</a>
                            </div>
                            <a href="#" class="over-link"></a>
                        </div>
                    </div>
                </div>

                <!-- banners -->
                <div class="product-categories flexwrap">
                    <div class="row">
                        <div class="item">
                            <div class="image">
                                <img src="../assets/banner/procat1.jpg" alt="">
                            </div>
                            <div class="content mini-links">
                                <h4>Գեղցկություն</h4>
                                <ul class="flexcol">
                                    <li><a href="#">Դիմահարդարում</a></li>
                                    <li><a href="#">Մաշկի խնամք</a></li>
                                    <li><a href="#">Մազերի խնամք</a></li>
                                    <li><a href="#">Բուրմունք</a></li>
                                    <li><a href="#">Ոտքերի և ձեռքերի խնամք</a></li>
                                </ul>
                                <div class="second-links">
                                    <a href="/page-category" class="view-all">
                                        Տեսնել բորոլը
                                        <i class="ri-arrow-right-line"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item">
                            <div class="image">
                                <img src="../assets/banner/procat2.jpg" alt="">
                            </div>
                            <div class="content mini-links">
                                <h4>Գաջեթներ</h4>
                                <ul class="flexcol">
                                    <li><a href="#">Տեսախցիկ</a></li>
                                    <li><a href="#">Բջջային հեռախոսներ</a></li>
                                    <li><a href="#">Համակարգիչներ</a></li>
                                    <li><a href="#">GPS և նավիգացիա</a></li>
                                    <li><a href="#">Ականջակալներ</a></li>
                                </ul>
                                <div class="second-links">
                                    <a href="/page-category" class="view-all">
                                        Տեսնել բորոլը
                                        <i class="ri-arrow-right-line"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item">
                            <div class="image">
                                <img src="../assets/banner/procat3.jpg" alt="">
                            </div>
                            <div class="content mini-links">
                                <h4>Տան դեկոր</h4>
                                <ul class="flexcol">
                                    <li><a href="#">Խոհանոց</a></li>
                                    <li><a href="#">Ճաշասենյակ</a></li>
                                    <li><a href="#">Մառան</a></li>
                                    <li><a href="#">Մեծ սենյակ</a></li>
                                    <li><a href="#">Նախաճաշի անկյուն</a></li>
                                </ul>
                                <div class="second-links">
                                    <a href="/page-category" class="view-all">
                                        Տեսնել բորոլը
                                        <i class="ri-arrow-right-line"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>